name: Publish Storage to GitHub Packages

on:
  workflow_dispatch:
    inputs:
      version_type:
        description: 'The type of version bump (major, minor, or patch)'
        required: true
        type: choice
        options:
          - patch
          - minor
          - major
        default: 'patch'

jobs:
  call-reusable-workflow:
    permissions:
      contents: write
      packages: write
      pull-requests: write
    uses: ./.github/workflows/reusable_release.yaml
    with:
      module_name: 'storage'
      version_type: ${{ github.event.inputs.version_type }}
    secrets:
      ADMIN_PAT: ${{ secrets.ADMIN_PAT }}
